@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Hide scrollbar for all browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}